/* Define light-only variable-variants*/
.light {
  --color-background: white;
  --color-background-highlight: #ccc;
  --color-background-highlight2: #aaa;
  --color-text: black;
  --color-header-background: #ddd;
  --color-border: #777;

  --color-error: #ff3737
}


/* Define dark-only variable-variants*/
.dark {
  --color-background: #222;
  --color-background-highlight: #555;
  --color-background-highlight2: #777;
  --color-text: white;
  --color-header-background: #333;
  --color-border: #aaa;
  --color-border-highlight: #fff;

  --color-error: #ff3737
}

/* Define universal and fallback variable-variants */
:root {
  --font-family-default: Arial, Helvetica, sans-serif;

  --radius-small: 3px;
  --radius-medium: 5px;
  --radius-large: 10px;

  --padding-small: 5px;
  --padding-medium: 10px;
  --padding-large: 20px;

  --color-button-primary: var(--color-background-highlight);
  --color-button-hover: var(--color-background-highlight);
  --color-button-primary-hover: var(--color-background-highlight2);
  --color-button-dropdown-panel: var(--color-header-background);
}

/* Apply variables to :root */
:root {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family-default);
}

body {
  margin: 0;
}
