.json-forms {
  &-input {
    font-family: var(--font-family-default);
  }

  &-textarea {
    font-family: var(--font-family-default);
  }

  &-description {
    font-size: smaller;
    color: var(--color-text-muted);
  }
}

.horizontal-layout-item {
  margin: 0 10px;
}
